* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Avenir Next";
    background: #323232;
}

#programme {
	padding: 10px;
	background: #e8f9f9;
}

#programme h2 {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #0182a2;
}

#programme p {
	font-size: 16px;
	color: #333 !important;
	line-height: 18px;
}

#programme p span {
    color: #FFFFFF !important;
}

#timing {
	padding: 2px 10px;
	background: #349bb5;
	font-size: 16px;
    color: white;
}

#timing span { display: inline-block; }

.title {
	font-weight: 500;
	color: #0182a2;
	font-size: 16px;
}

#chairs {
	overflow: hidden;
	padding: 10px;
	background: #FFF;
}

#chairs h5 {
	float: left;
	width: 40%;
    color: #349bb5;
}

#chairs > div {
	float: left;
}

#chairs span {
	display: block;
	font-size: 16px;
	color: #333;
}

#topic {
	background: #808080;
	font-size: 16px;
	color: #FFF;
	padding: 1px 10px;
    font-weight: 500;
}

#topics-speakers {
	padding: 10px 0px 15px;
	background: #e6f2f6;
}

#topics-speakers li {
	padding: 15px 10px ;
}

#topics-speakers li:nth-child(even) {
    background: #FFF;
}

#topics-speakers li h5 {
    font-size: 15px;
	margin: 0;
}

#topics-speakers li span {
	font-size: 16px;
	color: #333;
	display: block;
}